//===========================
//  Global config
//===========================

// Font Stacks

$font-url--google       :  "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
$font-family--primary   : 'Poppins', sans-serif; 


// Base Colors

$black           : #212330;
$black-light     : #323544;
$grey            : #666;
$grey-light      : #ddd;
$white           : #fff;


// Other colors

$blue-pale-primary         : #67809f;
$blue-pale-dark-secondary  : #526781;
$blue-primary              : #4183d7;
$blue-secondary            : #286abd;
$green-primary             : #2ecc7a;
$green-secondary           : #25a25a;
$red-primary               : #d64541;
$red-secondary             : #bc2c28;
$purple-primary            : #926fb1;
$purple-secondary          : #49539a;
$red-pink-primary          : #f62459;
$red-pink-primary          : #de093f;
$orange-primary            : #ce4125;
$orange-secondary          : #a3331d;

//Social Media colors

$blue-fb          : #3b5998;
$blue-li          : #0077b5;
$blue-twtr        : #00aced;
$pink-ig          : #d93175;



// Breakpoints 

$breakpoint-xs     :485px;
$breakpoint-s      :752px;
$breakpoint-m      :976px;
$breakpoint-l      :1244px;

