.container-dark {
    color: white;
    background-color: #323544;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
  }

  .container-x-dark{
color: white;    
background-color: #212330;
width: 100%;
  }