*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Poppins' , sans-serif;
}


body{
display: flex;
flex-direction: column;
min-height: 100vh;
background-color: $white;
color: $grey;
}


a{
	color: $white;
	text-decoration: none;
}

.footer__list{	
ul, li{
		list-style-type: none;
		padding: 0px;
		:visited, :hover{
		text-decoration: underline;}
		font-size: 13px;
		}
	}