.btn{
text-decoration: none;
}

.btn-blk{
    background-color: $black-mid;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 15px 15px;
    margin: 30px 0px 50px;
    &:hover{
        background-color: $black;
    }
}

.btn-blk-dark{
    background-color: $black-btn;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 15px 15px;
    margin-bottom: 20px;
    &:hover{
        background-color: $black-dark;
    }
}

.btn-news-purple{
    color: #fff;
    background-color: $purple-primary;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0px;
}

.btn-news-blue{
    color: #fff;
    background-color: $blue-primary;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0px;
}

.btn-service-blue-pale{
    color: white;
    background-color: $blue-pale-primary;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;    
}

.btn-service-blue{
    color: white;
    background-color: $blue-primary;
    border: 0;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    }