.btn{
text-decoration: none;
}

//============general buttons ============

.btn-blk{
    background-color: $black-mid;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 15px 15px;
    margin: 30px 0px 50px;
    &:hover{
        background-color: $black;
    }
}

.btn-blk-dark{
    background-color: $black-btn;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    border: 0;
    padding: 15px 15px;
    margin-bottom: 20px;
    &:hover{
        background-color: $black-dark;
    }
}

.btn-slider-purple{
    color: #fff;
    background-color: $purple-primary;
    font-size: 20px;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0px;
    &:hover{
        background-color: $purple-secondary;
    }
}

// ================ nav buttons ==============

.btn-mouse{
display: flex;
flex-direction: row;
border: 0;
color: #fff;
background-color: $blue-primary ;
padding: 5px 15px;
font-size: 20px;
gap: 10px;
border-radius: 2px;
align-items: center;
&:hover{
    background-color: $blue-secondary ;
}
}

.btn-plane{
display: flex;
flex-direction: row;
border: 0;
color: #fff;
background-color: #999;
padding: 15px 15px;
font-size: 20px;
gap: 10px;
border-radius: 2px;
align-items: center;
&:hover{
    background-color: #84858f ;
}
}



//========== intro buttons ==================

.btn-intro-blue-l{
    color: #fff;
    background-color: $blue-primary;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0px 5px;
    &:hover{
        background-color: $blue-secondary;
    }
}

.btn-intro-green-l{
    color: #fff;
    background-color: $green-primary;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0px 30px;
    &:hover{
        background-color: $green-secondary;
    }
}

//==========news buttons =====================

.btn-news-purple{
    color: #fff;
    background-color: $purple-primary;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0px;
}

.btn-news-blue{
    color: #fff;
    background-color: $blue-primary;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0px;
}

//========== service buttons============

.btn-service-blue-pale{
    color: white;
    background-color: $blue-pale-primary;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;    
}

.btn-service-blue{
    color: white;
    background-color: $blue-primary;
    border: 0;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    }

    .btn-service-green{
    color: white;
    background-color: $green-primary;
    border: 0;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    }

.btn-service-red{
    color: white;
    background-color: $red-primary;
    border: 0;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    }

.btn-service-purple{
    color: white;
    background-color: $purple-primary;
    border: 0;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    }

.btn-service-red-pink{
    color: white;
    background-color: $red-pink-primary;
    border: 0;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    }

.btn-service-orange{
    color: white;
    background-color: $orange-primary;
    border: 0;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 3px;
    }