
.carousel-container{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
padding: 30px;
}

.carousel-greyscale{
    width: fit-content;
    filter: grayscale(100%);
    &:hover{
        filter: grayscale(0%);
    }
}






// &::after{
//     content: '';
//     display: block;
//     position: absolute;

// border: solid transparent 0px;
//     border-color: transparent;
//     border-top-color: red ;
//     border-width: 35px 65px;        
//     z-index: 4;
//     }



// .pop-up{
//     display: none;
// img:hover{
//     display: flex;
//     position: absolute;
//     background-color: $black-light;
//     color: #fff;
//     }
// }







// .gdst{

// }

// .ashcroft{

// }

// .one-traveller{

// }

// .xupes{

// }

// .busseys{
//     &:hover{

//     }
// }