
#company-intro-lo{
    @extend %company-intro-lo;
}


.company-intro{
    background-color: $black-light;
    color: #fff;
}

.intro-title{
    font-size: 30px;
}

.intro-title-container{
padding: 15px;
}

.review p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.fa-star{
    transform: scale(1.5);
    padding: 15px 10px;
    margin-bottom: 10px;
}

.author-name p{
    font-size: 18px;
    line-height: 30px;
}

.intro-btns{
    a{
        padding: 0px 15px 0px 0px;
    }
}