%footer-lo {

    @include mq(medium) {
                display:flex;
                flex-direction: row;
                justify-content: left;
                align-items: baseline;
                .sm-dis{
                    display: flex;                
                }
                p{
                    padding: 3px;
                }
    }

}

%news-lo-m{

    @include mq(medium) {
        display: block;
        columns: 2;
        align-items: baseline;
    }       
}

%news-lo-l{
    @include mq(large) {
        display: block;
        columns: 3;
        align-items: baseline;
    }
}


