%footer-lo {
    @include mq(medium) {
        display:flex;
        flex-direction: row;
    }
}

%news-lo{
    @include mq(medium) {
        display: flex;
        flex-direction: row;
        columns: 30%;
    }

}