
footer{
margin-top: auto;
color: white;
background-color: $black-light;
width: 100%;
padding: 15px;
font-weight: 100;
h4{
	font-weight: 100;
	}
}



.footer__list{
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	ul, li, a{
		color: $white;
		list-style-type: none;
		padding: 3px 0px;
		:hover{
		text-decoration: underline;}
		font-size: 13px;
		}
}

.company-info{
	justify-content: center;
	align-items: center;

}

	#footer-lo{
		@extend %footer-lo;
	}
	
	
.footer-bottom{
	background-color: $black;
	color: white;
	padding: 0;
	margin: 0;
}


.footer-bottom p, ul, a{
	font-size: 13px;
	padding: 5px 15px;
	margin: 0;
	justify-content: left;
	
}

	

.sm-dis{
	display: none;
}




