
footer{
margin-top: auto;
color: white;
	background-color: $black-light;
width: 100%;
}

.footer__list{
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
}

.container-dark{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	// margin-right: 5%;
	// margin-left: 5%;
}

.container-x-dark{
	display: flex;
	flex-direction: row;
	color: white;
	background-color: $black;
	padding: 5 0 10;
	}

.socials{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: $black;
padding: 30px;
}

.centered{
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 0px;
	::before{
		padding: 0px;
	} 
}