#form-lo{
  @extend %form-lo;
}

form{
    background-color: $grey-light;
}



form h2 {
  color: $black-light;
    padding: 50px 0px 15px;
    font-size: 34px;
    margin: 0;
    font-weight: 500;

}

.input-boxes{
  display: flex;
  flex-direction: column;
}

.data-input{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    row-gap: 10px;
    font-weight: bold;
    color:$black-light;
}


#form-input-name{
border: solid rgba($color: #999, $alpha: 0.4) 1px;
border-radius: 2px;
background-color: #fff;
padding-right: 15px;
border: $grey-light;
height: 50px;
width: 100%;
&:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0.9px skyblue;
  width: 99.5%;
  }
}

#form-input-email{
  border: solid rgba($color: #999, $alpha: 0.4) 1px;
  border-radius: 2px;
  background-color: #fff;
  padding-right: 15px;
  border: $grey-light;
  height: 50px;
  width: 100%;
  &:focus {
    outline: none;
    box-shadow: 0px 0px 4px 0.9px skyblue;
    width: 99.5%;
    }

  }

  .checkbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color:$black-mid;
    font-weight: 300;
    padding: 15px 0px;
    gap: 15px;
    line-height: 30px; 
    &:hover{
      cursor: pointer;
    } 
}

.tickbox{
  display: flex;
  transform: scale(3);
    margin: 15px ;
    &:hover{
      cursor: pointer;
    } 
}

input[type="checkbox"] {
  display: inline;
accent-color:$black-mid;
}



.form-text{
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-decoration: none;
  &:hover{
    cursor: pointer;
  } 
}

.p-red{
color: red;
}
