#form-lo{
  @extend %form-lo;
}

form{
    background-color: $grey-light;
}

form h2 {
  color: $black-light;
    padding: 50px 0px 15px;
    font-size: 28px;
    margin: 0;
    font-weight: 500;

}

.input-boxes{
  display: flex;
  flex-direction: column;
}

.data-input{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    row-gap: 10px;
    font-weight: bold;
    color:$black-light;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color:$black-light;
    font-weight: 300;
    padding: 15px 0px;
    gap: 15px;
    line-height: 30px;
}

input[type=text] {
  border: $grey-light;
  height: 50px;
  width: auto;
}

#form-input {
border: solid rgba($color: #999, $alpha: 0.4) 1px;
border-radius: 2px;
}


input[type=checkbox] {
  transform: scale(3);
}


.tickbox{
    max-height: 50px;
    max-width: 50px;
    color: black;
    margin: 15px ;
    accent-color: $black-light;
    
}

.form-text{
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
}

.p-red{
color: red;
}