
#hero-lo{
    @extend %hero-lo;
}

.hero-container{
    height: 550px;
    background-image: url(../img/thumbnails/img1.png);
    background-repeat: no-repeat;
    background-size:cover ;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    text-align: center;
    width: fit-content;
}

.hero-title{
    display: flex;
font-size: 40px;
}

.hero-text{
    display: flex;
    font-size: 22px;
}