
#hero-lo{
    @extend %hero-lo;
}

.hero-slider{
    background-image: url(../img/thumbnails/img1.png);
    background-color: darkgrey;
    background-blend-mode: multiply;
    height: 550px;    
    background-position: 50%;
    background-repeat: no-repeat;
    background-size:cover ;
}

.hero-container{   
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}

.hero-title{
    display: flex;
font-size: 40px;
}

.hero-text{
    display: flex;
    font-size: 22px;
}