.icn-grey-light{
background-color: $grey-light;
padding: 15px;
}

//=========Service Icons===================

.icn-service-blue-pale{
    background-color: $blue-pale-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}




// =========== footer socials ===========

.socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    
    }
    
    .social-links{
        background-color: $black;
        padding: 18px;
        color: $white;
            }
    
    .fb{
        &:hover{
        background-color: $blue-fb;
        }
    }
    
    .li{
        &:hover{
        background-color: $blue-li;
        }
    }
    
    .twtr{
        &:hover{
        background-color: $blue-twtr;
        }
    }
    
    .ig{
        &:hover{
        background-color: $pink-ig;
        }
    }			