
//======= General ======================

.icn-grey-light{
    color: $black-light;
background-color: $grey-light;
padding: 0;
margin: 0;
border: 0;
}

.icn-grey{
    color: #fff;
background-color: #999;
height: auto;
padding: 25px;
margin: 0;
border: 0;
align-items: center;
&:hover{
    background-color: #84858f ;
}
}

.icn-black-light{
    display: flex;
    color: $black-light;
    padding: 15px;
    margin: 10px;
}
//========Nav Icons ======================

.nav-icon-blue-pale{
    color: $blue-pale-primary;
    margin-bottom: 10px;
    
}
.nav-icon-blue{
    color: $blue-primary;
}
.nav-icon-green{
    color: $green-primary;
}
.nav-icon-red{
    color: $red-primary;
}
.nav-icon-purple{
    color: $purple-primary;
}
.nav-icon-red-pink{
    color: $red-pink-primary;
}
.nav-icon-orange{
    color: $orange-primary;
}






//=========Service Icons===================

.icn-service-blue-pale{
    background-color: $blue-pale-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}

.icn-service-blue{
    background-color: $blue-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}

.icn-service-green{
    background-color: $green-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}

.icn-service-red{
    background-color: $red-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}

.icn-service-purple{
    background-color: $purple-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}

.icn-service-red-pink{
    background-color: $red-pink-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}

.icn-service-orange{
    background-color: $orange-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}





// =========== footer socials ===========

.socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    
    }
    
    .social-links{
        background-color: $black;
        padding: 20px;
        color: $white;
        border-radius: 1px;
            }
    
    .fb{
        &:hover{
        background-color: $blue-fb;
        }
    }
    
    .li{
        &:hover{
        background-color: $blue-li;
        }
    }
    
    .twtr{
        &:hover{
        background-color: $blue-twtr;
        }
    }
    
    .ig{
        &:hover{
        background-color: $pink-ig;
        }
    }			