.icn-grey-light{
background-color: $grey-light;
padding: 15px;
}
//========Nav Icons ======================

.nav-icon-blue-pale{
    color: $blue-pale-primary;
    margin-bottom: 10px;
    
}
.nav-icon-blue{
    color: $blue-primary;
}
.nav-icon-green{
    color: $green-primary;
}
.nav-icon-red{
    color: $red-primary;
}
.nav-icon-purple{
    color: $purple-primary;
}
.nav-icon-red-pink{
    color: $red-pink-primary;
}
.nav-icon-orange{
    color: $orange-primary;
}






//=========Service Icons===================

.icn-service-blue-pale{
    background-color: $blue-pale-primary;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 10px;
}




// =========== footer socials ===========

.socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    
    }
    
    .social-links{
        background-color: $black;
        padding: 18px;
        color: $white;
            }
    
    .fb{
        &:hover{
        background-color: $blue-fb;
        }
    }
    
    .li{
        &:hover{
        background-color: $blue-li;
        }
    }
    
    .twtr{
        &:hover{
        background-color: $blue-twtr;
        }
    }
    
    .ig{
        &:hover{
        background-color: $pink-ig;
        }
    }			