
#main-nav-lo{
    @extend %main-nav-lo;
}


.main-nav{
    background-color:$black-light;
    display: none;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li{
list-style: none;
padding: 0px 15px;
}

.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}


.nav-p1{
    font-size: 13px;
    padding: 0;
    margin: 0;
    }
    
    .nav-p2{
        font-size: 20px;
        padding: 0; 
        margin: 0;
    }

nav ul li a{
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    .nav-dropdown-item:hover{
        text-decoration:underline ;
    }    
}

.dropdown{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    display: none
}


.dropdown li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}



//========== navbar item hovers============

.nav-bar-item-blue-pale:hover{
    background-color: $blue-pale-primary;
    .nav-icon-blue-pale{
        color: #fff;
    }
}

.nav-bar-item-blue:hover{
    background-color: $blue-primary;
    .nav-icon-blue {
        color: #fff;
    }
}

.nav-bar-item-green:hover{
    background-color: $green-primary;
    .nav-icon-green {
        color: #fff;
    }
}

.nav-bar-item-red:hover{
    background-color: $red-primary;
    .nav-icon-red {
        color: #fff;
    }
}

.nav-bar-item-purple:hover{
    background-color: $purple-primary;
    .nav-icon-purple{
        color: #fff;
        }
    }


.nav-bar-item-red-pink:hover{
    background-color: $red-pink-primary;
    .nav-icon-red-pink {
        color: #fff;
    }
}

.nav-bar-item-orange:hover{
    background-color: $orange-primary;
    .nav-icon-orange {
        color: #fff;
    }
}

//======== Dropdown Hover Colors ========

nav ul li:hover ul.dropdown {
    display:flex;
    flex-wrap: wrap;
    height:auto ;
    }



    nav ul li:hover ul.dropdown > *{
        flex: 1 1 33%;
        font-size: 20px;
        padding: 20px 30px;
        justify-content: left;
        align-items: baseline;
        text-align: left;
        :first-child{
            display: flex;
            flex-direction: row;
            padding-right: 15px;
        }
        
    }



nav ul li:hover ul.dd-blue-pale{
    background-color: $blue-pale-secondary;
    }

nav ul li:hover ul.dd-blue{
    background-color: $blue-secondary;
        }

nav ul li:hover ul.dd-green{
    background-color: $green-secondary;
    }    

    nav ul li:hover ul.dd-red{
    background-color: $red-secondary;
    } 

nav ul li:hover ul.dd-purple{
    background-color: $purple-secondary;
    } 

nav ul li:hover ul.dd-red-pink{
    background-color: $red-pink-secondary;
    } 

nav ul li:hover ul.dd-orange{
    background-color: $orange-secondary;
    } 
    

#dd-title{
        color: #fff;
        display: block;
        position: relative;
        float: left;
        font-size: 40px;
        
    }