
.nav-top-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-hidden{
    display: none;
}

.burger-menu{
    background-color: black;
    padding: 20px;
}

.search-bar{

}