
#nav-lo{
    @extend %nav-lo;
}


.nav-top-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-hidden{
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: none;
}

.burger-menu{
    background-color: $black-light;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
}

.search-bar{
    background-color: $grey-light;
    border: solid #999 2px ;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0.5px rgba($color: $grey-light, $alpha: 3.0);
    margin: 15px 0px;
    justify-content: right;
    align-items: center;
    
input[type=text]{
    background-color: inherit;
    width: 90%;
}
}

.search-bar-hidden{
    display: none;
    background-color: $grey-light;
    border: solid #999 1px ;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0.5px rgba($color: $grey-light, $alpha: 3.0);
    margin: 15px 0px;
    justify-content: right;
}