//======== layout ===============

#news-lo{
    @extend %news-lo;
}

//========= styles ================

.news-title{
width: fit-content;
align-items: center;
}

.text-blue{
    color: $blue-primary;
}

.text-purple{
    color: $purple-primary;
}

.text-grey{
    color: #888;
    font-size: 14px;
    font-weight: 300;
}

.news-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.news-item{
    display: flex;
    flex-direction: column;
    border: solid $grey-light 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0.5px rgba($color: $grey-light, $alpha: 3.0);
    margin: 30px 0px;
    transition: transform ease 300ms;
    }
    
.news-item:hover{
        transform: translate(0px, -10px);
}

hr{
    opacity: 60%;
}

.news-text{
    margin: 0% 5%;
    p{
        color: $grey;
        font-size: 14px;
        font-weight: 300;
    }
}

.top-right-outer{
    position: relative;
    right:0; 
}


.top-right-purple{
    position: absolute;    
    background-color: $purple-primary;
    width: fit-content;
    top: 10px;
    right: 0px;
    margin: 0;
    padding: 0;
    
    h5{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    margin: -10px 10px;
    }

    a:hover{
        text-decoration: underline;
        color: #fff;
    }
}


.top-right-blue{
    position: absolute;    
    background-color: $blue-primary;
    width: fit-content;
    top: 10px;
    right: 0px;
    margin: 0;
    padding: 0;
    
    h5{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    margin: -10px 10px;
    }

    a:hover{
        text-decoration: underline;
        color: #fff;
    }
}

.view-outer-hidden{
    display: none;
}

.view-outer{
    align-items: baseline;
}

.view-all {
    display: flex;
    flex: row;
    align-items: center;
    color: $black;  
    justify-content: center;
    p{
        font-size: 30px;
    }
    &:hover{
        text-decoration: underline;
    }
}


